<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lecture.com.cashmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_custom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".authentication.SignupActivity" />
        <activity
            android:name=".authentication.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".authentication.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.cashtransaction.AddTransactionActivity"
            android:label="@string/title_header_transaction_add"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".menu.CategoryActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".menu.AddCategoryActivity"
            android:label="@string/title_header_category_add"
            android:parentActivityName=".menu.CategoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.CategoryActivity" />
        </activity>
        <activity
            android:name=".menu.ReportActivity"
            android:label="@string/report"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu.DebtActivity"
            android:label="@string/debt"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu.cashtransaction.CategorySelectorActivity"
            android:label="@string/select_category"
            android:parentActivityName=".menu.cashtransaction.AddTransactionActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>